@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    /* @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Kdam+Thmor+Pro&family=Pacifico&display=swap');
    *{
        font-family: "Kdam Thmor Pro", sans-serif;
    
      } */
 
 
      .custom{
        display: flex;
        flex-flow:column;
        height: 100vh !important;
        position: relative;

     
    }
    .main{
      transition: 2s;
    }
 
    .header_dark{
       background-color: #1a1a2595;
       color: white;
       transition: 2s;
     
    }
    .footer-dark{
      background-color: #1a1a2595;
      transition: 2s;
    }
    .left-dark{
      background-color: rgba(255, 255, 255, 0.468);
      color:white;
      transition: 2s;
    }
    .right-dark{
      background-color: rgba(231, 173, 255, 0.286);
      transition: 2s;
      color:white;
    }

    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: transparent;  
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;  
      width: 5px;
      height: 5px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #7c34e983; 
      border-radius: 12px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #7a3ceeaa; 
    }
}

